.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form{
  width: 60%;
  text-align: center;
}
.text-area {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 70px;
  font-weight: bold;
  word-spacing: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.category-container {
  margin-top: 20px;
}

.category-text {
  font-weight: bold;
}

.category {
  font-size: 1.2em;
  color: #007bff;
}

.error-message {
  color: red;
  margin-top: 10px;
}
  